.navbar {
    margin: 10px 5px;
}
.navbar-brand{
   text-transform: uppercase;
}
.mr-auto{
    justify-content: center;
    margin-left: 22px;
}  

.App{
  padding-top: 8rem;
  margin-top:0rem;
  z-index: -1;
}

.footer{
    width: 100%; 
    background-size: cover ;
    padding-top: 5rem;
    background-image: url('./res/footerbac.svg') ;
    bottom: 0;
  }

 .ontop{
    z-index: 5;
  }

  .Header{
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5; 
  }

  .jumbotron{
    background-color: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  }

  .About{
    padding: 6rem;
    padding-top: 8rem;
    text-align: center;
    transition: .5s ease;
    position: relative;
  }

  .About h2{
    color: #49B050;
    position: relative;

  }

  .About p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-display: fallback;
    position: relative;

  }

  #home{
    height: 1px;
    top: -10rem;
    position: absolute;
    transition: .5s ease;
    z-index: -1;
  }

  .questionInput,
  .answerInput,
  .optionInput{
    padding: 8px;
    margin: 8px 2px;
    border-radius: 5px;
    border: 1px solid ;
    outline: none;
  }

  .questionInput{
    width: 80% !important;
    height: 200px !important;
    margin-bottom: 15px;
  }

  .answerInput{
    color: #49B050;
    border: 1px solid #49B050;
  
  }

  .optionInput{
    justify-content: center;
  }

  @media (max-width: 600px){
    #home{
      height: 20%;
    }
    .About{
      padding: 3rem;
      padding-top: 35%;
    }
    .navbar-brand{
      text-transform: uppercase;
      width:50%;
    }
    .navbar-brand img{
      width:100%;
    }
  }